<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<form th:action="@{/users}" th:object="${userRegistrationDTO}" method="post">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="First name" th:field="*{name}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last name" th:field="*{surname}">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" th:field="*{email}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>